body{
    background-color: rgb(11, 205, 239);
    text-align: center;
}
.container{
    height: 50vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
h1{
    font-size: 3rem;
}
img{
    border-radius: 10px;
}
